.text-field {
  width: 100% !important;
  padding: 8px 12px !important;
  font-size: 14px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  transition: border-color 0.3s ease !important;
}

.color-field {
  width: 100% !important;
  padding: 8px 12px !important;
  font-size: 14px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  transition: border-color 0.3s ease !important;
}

.number-field {
  width: 100% !important;
  padding: 8px 12px !important;
  font-size: 14px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  transition: border-color 0.3s ease !important;
}
.color-field:focus {
  outline: none !important;
  border-color: #6a9ed6 !important;
}
.text-field:focus {
  outline: none !important;
  border-color: #6a9ed6 !important;
}
.number-field:focus {
  outline: none !important;
  border-color: #6a9ed6 !important;
}

.rich-text-field {
  flex: 1 !important;
  height: auto !important;
  min-height: 200px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 12px !important;
  font-size: 14px !important;
  transition: border-color 0.3s ease !important;
}

.rich-text-field:focus {
  outline: none !important;
  border-color: #6a9ed6 !important;
}

@media (max-width: 768px) {
  .grid-item {
    width: 100% !important;
  }
}
